<?xml version="1.0"?>
<config>
	<export>
		<levels>
			<level path="../photonserver/src-server/Loadbalancing/LoadBalancing/levels" />
		</levels>
		<navdatas>
			<navdata path="Assets/GameData/Navdata/" />
			<navdata path="../photonserver/src-server/Loadbalancing/LoadBalancing/navdata/" />			
		</navdatas>
	</export>
</config>