<?xml version="1.0" encoding="utf-8" ?>
<config
  projectname="Kopio"
  outputdir="D:\zealot\zdsp\zdsprepo\kopio"
  logdir="D:\zealot\zdsp\zdsprepo\kopio\log"
  servicename="KopioService"
  kopio_connectionstring="Data Source=devdb\zdsp;Initial Catalog=YourDB;User ID=gameserver;password=password$1;MultipleActiveResultSets=True"
  beaver_connectionstring="Data Source=nervac_prog;Initial Catalog=AssetDB;User ID=beaver;password=password$1;MultipleActiveResultSets=True"
  title="ZDSP"
  gameschemapath="D:\zealot\zdsp\zdsprepo\schema"
  exportcspath="D:\zealot\zdsp\zdspclient\Assets\scripts\Common\Repositories"
  exportjsonpath="D:\zealot\zdsp\zdspclient\Assets\GameData\GameRepo"
  exportserverpath="D:\zealot\zdsp\photonserver\src-server\Loadbalancing\LoadBalancing\Repository"
  publishurl="http://192.168.11.79"
  deploysite="Default Web Site/ZDSP"
  debug="true"
/>