<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Photon.LoadBalancing.Common.CommonSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Photon.LoadBalancing.GameServer.GameServerSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Photon.LoadBalancing.ClusterServer.ClusterServerSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Photon.LoadBalancing.MasterServer.MasterServerSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Photon.Common.Authentication.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="Photon" type="Photon.SocketServer.Diagnostics.Configuration.PhotonSettings, Photon.SocketServer" />
    <section name="PluginSettings" type="Photon.Hive.Configuration.PluginSettings, PhotonHive" />
    <section name="WebRpcSettings" type="Photon.Hive.WebRpc.Configuration.WebRpcSettings, PhotonHive" />
    <section name="AuthSettings" type="Photon.Common.Authentication.Configuration.Auth.AuthSettings, Photon.Common" />
  </configSections>
  <applicationSettings>
    <Photon.LoadBalancing.Common.CommonSettings>
      <setting name="NodesFileName" serializeAs="String">
        <value>Nodes.txt</value>
      </setting>
      <setting name="NodesFilePath" serializeAs="String">
        <value>..\..\</value>
      </setting>
      <setting name="EnablePerformanceCounters" serializeAs="String">
        <value>True</value>
      </setting>
    </Photon.LoadBalancing.Common.CommonSettings>
    <Photon.Common.Authentication.Settings>
      <setting name="AuthCacheUpdateInterval" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="AuthTokenKey" serializeAs="String">
        <value>76B2814E-2A50-4E29-838A-20411D335FC9</value>
      </setting>
      <setting name="AuthTokenExpiration" serializeAs="String">
        <value>10000</value>
      </setting>
      <!-- Custom Authentication Queue Settings -->
      <setting name="MaxConcurrentRequests" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="MaxQueuedRequests" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="MaxErrorRequests" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MaxTimedOutRequests" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="HttpRequestTimeoutMS" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="ReconnectIntervalS" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="QueueTimeoutS" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="MaxBackoffTimeInMiliseconds" serializeAs="String">
        <value>10000</value>
      </setting>
    </Photon.Common.Authentication.Settings>
    <Photon.LoadBalancing.GameServer.GameServerSettings>
      <setting name="AppStatsPublishInterval" serializeAs="String">
        <value>0</value>
      </setting>
      <!-- GameServer-to-Master connections. -->
      <setting name="ConnectReytryInterval" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="MaxEmptyRoomTTL" serializeAs="String">
        <value>60000</value>
      </setting>      
      <setting name="EnableNamedPipe" serializeAs="String">
        <value>False</value>
      </setting>
      <!-- Path for Client-to-Gameserver HTTP connections -->
      <setting name="GamingHttpPath" serializeAs="String">
        <value>photon/g</value>
      </setting>
      <!-- Client-to-Gameserver HTTP connections. Needs to match the RHTTPListener in PhotonServer.config -->
      <setting name="GamingHttpPort" serializeAs="String">
        <value>80</value>
      </setting>
      <!-- Client-to-Gameserver HTTPS connections. Needs to match the RHTTPListener in PhotonServer.config -->
      <setting name="GamingHttpsPort" serializeAs="String">
        <value>443</value>
      </setting>
      <!-- Client-to-Gameserver Secure WebSocket connections. Needs to match the secure WebSocketListener in PhotonServer.config -->
      <setting name="GamingSecureWebSocketPort" serializeAs="String">
        <value>19091</value>
      </setting>
      <!-- Client-to-Gameserver TCP connections. Needs to match the TCPListener in PhotonServer.config -->
      <setting name="GamingTcpPort" serializeAs="String">
        <value>4531</value>
      </setting>
      <!-- Client-to-Gameserver UDP connections. Needs to match the UDPListener in PhotonServer.config -->
      <setting name="GamingUdpPort" serializeAs="String">
        <value>5057</value>
      </setting>
      <!-- Client-to-Gameserver WebSocket connections. Needs to match the WebSocketListener in PhotonServer.config -->
      <setting name="GamingWebSocketPort" serializeAs="String">
        <value>9091</value>
      </setting>
      <setting name="HttpQueueMaxErrors" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="HttpQueueMaxTimeouts" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="HttpQueueRequestTimeout" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="HttpQueueMaxBackoffTime" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="HttpQueueMaxQueuedRequests" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="HttpQueueQueueTimeout" serializeAs="String">
        <value>90000</value>
      </setting>
      <setting name="HttpQueueReconnectInterval" serializeAs="String">
        <value>60000</value>
      </setting>
      <setting name="HttpQueueMaxConcurrentRequests" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LastTouchCheckIntervalSeconds" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="LastTouchSecondsDisconnect" serializeAs="String">
        <value>0</value>
      </setting>
      
      <!-- Set to the IP Address of the Photon instance where your Cluster application is running. -->
      <setting name="ClusterIPAddress" serializeAs="String">
        <value>196.168.11.122</value>
      </setting>
      <!-- Gameserver-to-Cluster connections. -->
      <setting name="OutgoingClusterServerPeerPort" serializeAs="String">
        <value>4540</value>
      </setting>
      <setting name="MasterIPAddress" serializeAs="String">
        <value>196.168.11.122</value>
      </setting>
      <!-- Gameserver-to-Cluster connections. -->
      <setting name="OutgoingMasterServerPeerPort" serializeAs="String">
        <value>4520</value>
      </setting> 
      
      <setting name="PublicIPAddress" serializeAs="String">
        <value>196.168.11.122</value>
      </setting>
      <setting name="PublicIPAddressIPv6" serializeAs="String">
        <value></value>
      </setting>
      <!-- the hostname for this gameserver. Required for HTTP & websocket connections. Change it to a useful entry, like hostname.mydomain.com, for a production scenario. -->
      <setting name="PublicHostName" serializeAs="String">
        <!--<value>%COMPUTERNAME%.mydomain.com</value>-->
        <value>localhost</value>
      </setting>
      <!-- The domain name for this gameserver. Required for websocket connections and needs to match the certificate for secure websocket / https connections. 
           For example:  mydomain.com -->
      <setting name="PublicDomainName" serializeAs="String">
        <value />
      </setting>
      <setting name="RelayPortHttp" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RelayPortSecureWebSocket" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RelayPortTcp" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RelayPortUdp" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RelayPortWebSocket" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ServerStateFile" serializeAs="String">
        <value>ServerState.txt</value>
      </setting>
      <setting name="WorkloadConfigFile" serializeAs="String">
        <value>Workload.config</value>
      </setting>
      <setting name="FbAppID" serializeAs="String">
        <value>330354770792434</value>
      </setting>
      <setting name="FbAppSecret" serializeAs="String">
        <value>a443d516b39e3ba9617a5a562d80835e</value>
      </setting>
      <setting name="GoogleClientId" serializeAs="String">
        <value>785475024515-48cf9lt6vio79kdqj4va20c14isa4k29.apps.googleusercontent.com</value>
      </setting>
      <setting name="GoogleClientSecret" serializeAs="String">
        <value>foW8GqFW_LuZioU6k4nnkDis</value>
      </setting>
      <setting name="GoogleRedirectURI" serializeAs="String">
        <value>http://localhost</value>
      </setting>    
      <setting name="ConnectionString" serializeAs="String">
        <value>Data Source=devdb\zdsp;User ID=gameserver;Initial Catalog=InstanceDBCS;Password=password$1;MultipleActiveResultSets=True;Min Pool Size=1;Max Pool Size=100;Pooling=true;</value>
      </setting>
      <setting name="GMConnectionString" serializeAs="String">
        <value>Data Source=devdb\zdsp;User ID=gameserver;Initial Catalog=GMDBCS;Password=password$1;MultipleActiveResultSets=True;Min Pool Size=1;</value>
      </setting>     
    </Photon.LoadBalancing.GameServer.GameServerSettings>
    <Photon.LoadBalancing.ClusterServer.ClusterServerSettings>
      <setting name="AppStatsPublishInterval" serializeAs="String">
        <value>0</value>
      </setting>
      <!-- GameServer-to-Master connections. -->
      <setting name="ConnectReytryInterval" serializeAs="String">
        <value>5</value>
      </setting>
      <!-- Set to the IP Address of the Photon instance where your Master application is running. -->
      <setting name="MasterIPAddress" serializeAs="String">
        <value>196.168.11.122</value>
      </setting>
      <!-- ClusterServer-to-Master connections. -->
      <setting name="OutgoingMasterServerPeerPort" serializeAs="String">
        <value>4520</value>
      </setting>
      <setting name="PublicIPAddress" serializeAs="String">
        <value>192.168.11.122</value>
      </setting>
      <setting name="PublicTcpPort" serializeAs="String">
        <value>4540</value>
      </setting>      
      <setting name="ConnectionString" serializeAs="String">
        <value>Data Source=devdb\zdsp;User ID=gameserver;Initial Catalog=InstanceDBCS;Password=password$1;MultipleActiveResultSets=True;Min Pool Size=1;Max Pool Size=100;Pooling=true;</value>
      </setting>
      <setting name="GMConnectionString" serializeAs="String">
        <value>Data Source=devdb\zdsp;User ID=gameserver;Initial Catalog=GMDBCS;Password=password$1;MultipleActiveResultSets=True;Min Pool Size=1;</value>
      </setting>
    </Photon.LoadBalancing.ClusterServer.ClusterServerSettings>    
    <Photon.LoadBalancing.MasterServer.MasterServerSettings>
      <setting name="AppStatsPublishInterval" serializeAs="String">
        <value>0</value>
      </setting>  
      <setting name="IncomingClientPeerPort" serializeAs="String">
        <value>5055</value>
      </setting>       
      <setting name="MasterRelayPortTcp" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MasterRelayPortUdp" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MasterRelayPortWebSocket" serializeAs="String">
        <value>0</value>
      </setting>
      <!-- Leave empty and the the IP address will be looked up dynamically at runtime. -->
      <setting name="PublicIPAddress" serializeAs="String">
        <value>196.168.11.122</value>
      </setting>
      <setting name="RedisDB" serializeAs="String">
        <value />
      </setting>
      <setting name="FbAppID" serializeAs="String">
        <value>330354770792434</value>
      </setting>
      <setting name="FbAppSecret" serializeAs="String">
        <value>a443d516b39e3ba9617a5a562d80835e</value>
      </setting>
      <setting name="GoogleClientId" serializeAs="String">
        <value>785475024515-48cf9lt6vio79kdqj4va20c14isa4k29.apps.googleusercontent.com</value>
      </setting>
      <setting name="GoogleClientSecret" serializeAs="String">
        <value>foW8GqFW_LuZioU6k4nnkDis</value>
      </setting>
      <setting name="GoogleRedirectURI" serializeAs="String">
        <value>http://localhost</value>
      </setting>
      <setting name="SmtpServer" serializeAs="String">
        <value>mail.zealotdigital.com.tw</value>
      </setting>
      <setting name="EmailAddr" serializeAs="String">
        <value>BuddhaOnline@zealotdigital.com.tw</value>
      </setting>
      <setting name="EmailPassword" serializeAs="String">
        <value>buddha1216</value>
      </setting>
      <setting name="GMConnectionString" serializeAs="String">
        <value>Data Source=devdb\zdsp;User ID=gameserver;Initial Catalog=GMDBCS;Password=password$1;MultipleActiveResultSets=True;Min Pool Size=1;</value>
      </setting>
      <setting name="MasterVersion" serializeAs="String">
        <value>Android:1.0.0|;iOS:1.0.0|1;MyCard:1.0.0|1</value>
        <!-- platform1:apkversion|assetversion;platform2:apkversion|assetversion -->
      </setting>      
    </Photon.LoadBalancing.MasterServer.MasterServerSettings>
  
</applicationSettings>
  <Photon>
    <CounterPublisher enabled="True" updateInterval="1">
      <Sender endpoint="udp://255.255.255.255:40001" protocol="PhotonBinary" initialDelay="10" sendInterval="10" />
    </CounterPublisher>
  </Photon>
  <PluginSettings Enabled="false">
    <Plugins>
      <Plugin Name="{#PluginName#}" Version="" AssemblyName="{#PluginAssemblyName#}" Type="{#PluginType#}" BaseUrl="{#PluginBaseUrl#}" IsPersistent="true" HasErrorInfo="true" PathClose="GameClose" PathCreate="GameCreate" PathEvent="GameEvent" PathGameProperties="GameProperties" PathJoin="GameJoin" PathLeave="GameLeave" PathLoad="GameCreate" />
    </Plugins>
  </PluginSettings>
  <WebRpcSettings Enabled="true">
    <BaseUrl Value="{#PluginBaseUrl#}" />
  </WebRpcSettings>
  <AuthSettings Enabled="true" ClientAuthenticationAllowAnonymous="true">
    <AuthProviders>
      <AuthProvider Name="Custom" AuthenticationType="0" AuthUrl="http://photon.webscript.io/auth-demo" secret="customauthsecret" />
      <AuthProvider Name="Facebook" AuthenticationType="2" AuthUrl="" secret="Val1" appid="Val2" />
    </AuthProviders>
  </AuthSettings>
  <appSettings>
    <add key="Zealot.Billing.Client - BillingServerVerifyUrl" value="http://192.168.99.63:8000/VerifyAsync" />
    <add key="Zealot.Billing.Client - BillingServerClaimUrl" value="http://192.168.99.63:8000/ClaimAsync" />
    <add key="Zealot.Billing.Client - BillingServerGetLatestUrl" value="http://192.168.99.63:8000/GetLatestAsync" />
    <add key="Zealot.Billing.Client - BillingServerMyCardAuthUrl" value="http://192.168.99.63:8000/MyCardAuthAsync" />
    <add key="Zealot.Billing.Client - BillingServerMyCardDelUrl" value="http://192.168.99.63:8000/MyCardDelAsync" />
    <add key="Zealot.Billing.Client - LogFilePath" value="~\..\..\src-server\Loadbalancing\log\Zealot-BillingClient-" />
    <add key="Zealot.Logging.Client - Enabled" value="false" />
    <add key="Zealot.Logging.Client - LoggingServerUpdateTablesUrl" value="http://192.168.99.63:8001/UpdateTablesAsync" />
    <add key="Zealot.Logging.Client - LoggingServerInsertRecordUrl" value="http://192.168.99.63:8001/InsertRecordAsync" />
    <add key="Zealot.Logging.Client - LogFilePath" value="~\..\log\Zealot-LoggingClient-" />
    <add key="Zealot.Logging.Client - FailOverLogFilePath" value="~\..\log\Zealot-LoggingClient-Failover.log" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>